<h1 id='event-refresh' class='pxl-h1-events'>Event Stream</h1>

<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-6'>
    <center>
      <button class="btn btn-default pxl-set-focus pxl-text-swap" type="button" data-toggle="collapse"
        data-target="#event_stream_filters" aria-expanded="false" aria-controls="collapseExample"
        data-text-swap='Hide Filters'>
        Show Filters
      </button>
    </center>

    <div class="collapse" id="event_stream_filters">
      <br />

      <div class="input-group pxl-bottom-5">
        <span class="input-group-addon" id="es_device">Device</span>
        <input id='event_stream_device' type="text" class="api-device form-control ig-typeahead"
        placeholder="Device name" aria-describedby="es_device" />
        <span class="input-group-addon" id="es_device_partial">
          <label style='margin-bottom: 0px;'>
            <input type="checkbox" id='event_stream_device_partial'
            class="api-device_partial pxl-checkbox" />
            &nbsp;Partial
            </input>
          </label>
        </span>
      </div>

      <div class="input-group pxl-bottom-5">
        <span class="input-group-addon" id="es_start_time">Start Time</span>
        <input type="text" id='event_stream_start_time' class="api-start_time form-control" size='5'
        placeholder="" aria-describedby="es_start_time" />
      </div>
      <script type="text/javascript">
        $('#event_stream_start_time').datetimepicker({ format: 'Y-m-d @ H:i' })
      </script>


      <div class="input-group pxl-bottom-5">
        <span class="input-group-addon" id="es_end_time">End Time</span>
        <input type="text" id='event_stream_end_time' class="api-end_time form-control" size='5'
        placeholder="Leave blank to see new events as they occur" aria-describedby="es_end_time" />
      </div>
      <script type="text/javascript">
        $('#event_stream_end_time').datetimepicker({ format: 'Y-m-d @ H:i' });
      </script>

      <div class="input-group pxl-bottom-5 btn-group pxl-ms-container">
        <span class="input-group-addon" id="es_types">Event Type</span>
        <select id='event_stream_types' multiple='multiple'></select>
        <button id="event_stream_types_reset" class="btn btn-default" style='width: 20%;'>Clear</button>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="es_limit">Result Limit</span>
        <input type="text" id='event_stream_limit' class="api-limit form-control" size='5'
        placeholder="Only 100 results will be returned if no value is set" aria-describedby="es_limit" />
      </div>
      <br />

      <center>
        <button id='event_stream_apply' class="btn btn-default pxl-set-focus" type="button">
          Apply Filters
        </button>
      </center>

    </div>

  </div>
  <div class='col-md-3'></div>
</div>

<br />

<div class='pxl-dynamic-content'>

  <table
    id='event_stream'
    class='table ajax_table table-hover table-condensed d3-tablesorter'
    data-api-url="/v2/ajax/events"
    data-api-refresh='10'
    data-api-params="limit=30"
    data-api-columns="time:Time ,friendly_subtype:Type ,device:Device ,details:Details "
    data-api-key="event_id">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
