<h1 id='event-refresh' class='pxl-bottom-margin pxl-h1'>Event Stream</h1>
<div class='pxl-dynamic-content'>
  <table
    class='table ajax_table table-hover table-condensed d3-tablesorter'
    id='ajax_1'
    data-api-url="/v2/events/component"
    data-api-params="limit=30"
    data-api-columns="time:Time ,subtype:Type ,device:Device ,details:Details "
    data-api-key="event_id">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
