<h1 class='pxl-bottom-margin pxl-h1'>Event Stream</h1>
<div class='pxl-dynamic-content'>
  <table
    class='table ajax_table table-hover table-condensed d3-tablesorter'
    id='ajax_1'
    data-api-url="/v2/events/component"
    data-api-params="limit=30"
    data-api-key="event_id">
    <thead>
      <tr>
        <th data-api-field='time'>Time</th>
        <th data-api-field='subtype'>Type</th>
        <th data-api-field='device'>Device</th>
        <th data-api-field='details'>Details</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
