<%
#
# Pixel is an open source network monitoring system
# Copyright (C) 2016 all Pixel contributors!
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>
<h1 id='event-refresh' class='pxl-h1-events'>Interfaces</h1>

<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-6'>
    <div class="input-group pxl-bottom-5">
      <span class="input-group-addon" id="es_device">Device</span>
      <input id='interfaces_device' type="text" class="api-device form-control ig-typeahead"
      placeholder="Device name" aria-describedby="es_device" />
      <span class="input-group-addon" id="es_device_partial">
        <label style='margin-bottom: 0px;'>
          <input type="checkbox" id='interfaces_device_partial'
          class="api-device_partial pxl-checkbox" />
          &nbsp;Partial
          </input>
        </label>
      </span>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="es_limit">Result Limit</span>
      <input type="text" id='interfaces_limit' class="api-limit form-control" size='5'
      placeholder="Only 100 results will be returned if no limit is set" aria-describedby="es_limit" />
    </div>
    <br />

    <center>
      <button id='interfaces_apply' class="btn btn-default pxl-set-focus" type="button">
        &nbsp;&nbsp;Search&nbsp;&nbsp;
      </button>
    </center>

  </div>
  <div class='col-md-3'></div>
</div>

<br />

<div class='pxl-dynamic-content'>
  <table
    id='interfaces'
    class='table ajax_table table-hover table-condensed d3-tablesorter'
    data-api-url="/ajax/interfaces"
    data-api-refresh='10'
    data-api-params="device_partial=true"
    data-api-columns="td_bps_hidden:_hidden_:1,td_device:Device :1,td_int_link:Name :2,td_link_status::0,td_link_type:Type :1,td_neighbor:Neighbor :1,td_bps_in:Ingress :1,td_bps_out:Egress :1,td_speed:Speed :1"
    data-api-key="id">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
