<!DOCTYPE html>
<html>
<head>
<title><%= full_title(locals[:title]) %></title>
<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/vendor/fa/css/font-awesome.min.css" rel="stylesheet">
<link href="/vendor/rickshaw.min.css" rel="stylesheet">
<link href="/stylesheets/core.css" rel="stylesheet">
<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/typeahead.bundle.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jquery.tablesorter.js"></script>
<script src="/vendor/jquery.cookie.js"></script>
<script src="/vendor/d3.v3.min.js" charset="utf-8"></script>
<script src="/vendor/moment.min.js" charset="utf-8"></script>
<script src="/vendor/rickshaw.min.js"></script> 
<script src="/javascripts/application.js"></script>
</head>
<body>

<!-- BEGIN HEADER -->
<header class='navbar navbar-fixed-top navbar-inverse' role='navigation'>
  <div class='navbar-inner'>
    <div class='container'>
      <a href='/'id='logo'>pixel</a>
      <nav>
        <ul class='nav navbar-nav pull-right'>
          <li>
          <form action='/device/search' class='navbar-form navbar-left' method='get' role='search'>
            <div class='form-group'>
              <button id='pxl-refresh' type="button" class="btn btn-default pxl-btn-refresh pxl-btn-refresh-white" data-toggle='tooltip' title='2m auto-refresh' data-rel='tooltip-left'>
                <span class="glyphicon glyphicon-refresh btn-txt"></span>
              </button>
            </div>
          </form>
          </li>
          <li><a href='/'>Dash</a></li>
          <!-- THIS IS BROKEN <li><a href='/stats'>Stats</a></li> -->
          <li>
          <form action='/device/search' class='navbar-form navbar-left' method='get' role='search'>
            <div class='form-group'>
              <input class="form-control typeahead" id="device_input" name="device_input" placeholder="Jump to Device" type="text" />
              <button type='submit' class='btn btn-default'>Go!</button>
            </div>
          </form>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- END HEADER -->

<div class="container">

  <%= yield %>

  <!-- BEGIN FOOTER -->
  <footer class="footer">
    <small>
      <a href='https://github.com/floored1585/pixel'>Pixel</a>
      by Ian Clark
    </small>
    <nav>
      <ul>
        <li>Powered by <a href='http://www.slowbro.org/', target='_blank'>Nyan</a></li>
      </ul>
      <ul>
        <li><%= "db lookup: #{db_elapsed}s" %></li>
      </ul>
    </nav>
  </footer>
  <!-- END FOOTER -->
</div>
</body>
</html>
