@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$table_link_color: #00a;
$light_green: #BFB;
$light_yellow: #FFB;
$light_orange: #F90;
$light_red: #FBB;
$light_grey: #E5E5E5;

/* boostrap mixin */

li.list-group-item-danger {
  a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      text-decoration: inherit;
    }
  }
}
.table {
  tbody {
    tr {
      &.pxl-child-tr {
        td {
          border: none;
        }
      }
    }
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: inherit;
      color: $table_link_color;
    }
  }
}

.tooltip-inner {
  white-space: pre;
  max-width: none;
  text-align: left;
}

.btn-xs {
  padding-top: none;
  padding-bottom: none;
  margin-top: -4px;
  margin-bottom: -2px;
}

.pxl-btn-refresh {
  background-color: Transparent;
  border-color: Transparent;
  &:hover {
    background-color: Transparent;
  }
}

.pxl-btn-refresh-white {
  border-color: Transparent;
  span {
    color: white;
  }
  &:hover {
    border-color: limegreen;
  }
}

.pxl-btn-refresh-green {
  border-color: limegreen;
  &:hover {
    border-color: limegreen;
  }
  span {
    color: limegreen;
  }
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

table.tablesorter thead tr {
  cursor: pointer;
}

.pxl-hidden {
  display: none;
}

.pxl-linkUp {
  border-collapse: separate;
  padding: none;
  td {
    width: 20px;
    height: 20px;
    background-clip: padding-box;
    color: #FFF;
    border: 1px solid black !important;
    border-radius: 100%;
  }
}
.pxl-linkUp-green {
  td {
    background-color: $light_green;
  }
}
.pxl-linkUp-yellow {
  td {
    background-color: $light_yellow;
  }
}
.pxl-linkUp-orange {
  td {
    background-color: $light_orange;
  }
}
.pxl-linkUp-red {
  td {
    background-color: $light_red;
  }
}
.pxl-linkUp-grey {
  td {
    background-color: $light_grey;
  }
}

.pxl-td-shrink {
  width: 1em;
  white-space: nowrap;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  letter-spacing: -1px;
}

h1 {
  letter-spacing: -1px;
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
