/*
Syntax error: Invalid @import: expected end of line, was ";".
        on line 1 of ./public/stylesheets/sass/application.sass

1: @import "bootstrap-sprockets";
2: @import "bootstrap";
3: 
4: /* mixins, variables, etc. *\/
5: 
6: $grayMediumLight: #eaeaea;

Backtrace:
./public/stylesheets/sass/application.sass:1
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:996:in `parse_import_directive'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:806:in `parse_directive'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:653:in `parse_line'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:543:in `build_tree'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:562:in `block in append_children'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:561:in `each'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:561:in `append_children'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:412:in `_to_tree'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/plugin.rb:54:in `check_for_updates'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sass-3.3.14/lib/sass/plugin/rack.rb:51:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-protection-1.5.3/lib/rack/protection/xss_header.rb:18:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-protection-1.5.3/lib/rack/protection/path_traversal.rb:16:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-protection-1.5.3/lib/rack/protection/json_csrf.rb:18:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-protection-1.5.3/lib/rack/protection/base.rb:49:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-protection-1.5.3/lib/rack/protection/frame_options.rb:31:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-1.5.2/lib/rack/logger.rb:15:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-1.5.2/lib/rack/commonlogger.rb:33:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sinatra-1.4.5/lib/sinatra/base.rb:217:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sinatra-1.4.5/lib/sinatra/base.rb:210:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/rack-1.5.2/lib/rack/methodoverride.rb:21:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sinatra-1.4.5/lib/sinatra/show_exceptions.rb:21:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sinatra-1.4.5/lib/sinatra/base.rb:180:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sinatra-1.4.5/lib/sinatra/base.rb:2014:in `call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `block in call'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sinatra-1.4.5/lib/sinatra/base.rb:1788:in `synchronize'
/usr/local/rvm/gems/ruby-2.0.0-p481@sinatra/gems/sinatra-1.4.5/lib/sinatra/base.rb:1478:in `call'
/usr/lib/ruby/vendor_ruby/phusion_passenger/rack/thread_handler_extension.rb:74:in `process_request'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:141:in `accept_and_process_next_request'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:109:in `main_loop'
/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler.rb:448:in `block (3 levels) in start_threads'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid @import: expected end of line, was \";\".\A         on line 1 of ./public/stylesheets/sass/application.sass\A \A 1: @import \"bootstrap-sprockets\";\A 2: @import \"bootstrap\";\A 3: \A 4: /* mixins, variables, etc. */\A 5: \A 6: $grayMediumLight: #eaeaea;"; }
