/* mixins, variables, etc. */

.rickshaw_graph .detail .x_label { display: none }

/* boostrap mixin */
li.list-group-item-danger a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
li.list-group-item-danger a:hover {
  text-decoration: inherit;
}

.table tbody tr.pxl-child-tr td {
  border: none;
}
.table a {
  color: inherit;
}
.table a:hover {
  text-decoration: inherit;
  color: #0000aa;
}

.panel-footer {
  background-color: white;
}

.tooltip-inner {
  white-space: pre;
  max-width: none;
  text-align: left;
}

.btn-xs {
  padding-top: none;
  padding-bottom: none;
  margin-top: -4px;
  margin-bottom: -2px;
}

.pxl-btn-refresh {
  background-color: Transparent;
  border-color: Transparent;
}
.pxl-btn-refresh:hover {
  background-color: Transparent;
}

.pxl-btn-refresh-white {
  border-color: Transparent;
}

.pxl-btn-refresh-white span {
  color: white;
}

.pxl-btn-refresh-white:hover {
  border-color: limegreen;
}

.pxl-btn-refresh-green {
  border-color: limegreen;
}

.pxl-btn-refresh-green:hover {
  border-color: limegreen;
}

.pxl-btn-refresh-green span {
  color: limegreen;
}

.pxl-rickshaw-title {
  font-weight: bold;
  text-align: center;
}

.canvas-container {
  margin-bottom: 10px;
}

.panel-ltblue {
  border-color: #2E618D;
}

.panel-ltblue .panel-heading {
  color: #242E36;
  border-color: #2E618D;
  background-color: #B5D2EA;
}

/* universal */

.huge {
  font-size: 20px;
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

table.tablesorter thead tr {
  cursor: pointer;
}

.pxl-hidden {
  display: none;
}

.pxl-linkUp {
  border-collapse: separate;
  padding: none;
}
.pxl-linkUp td {
  width: 20px;
  height: 20px;
  background-clip: padding-box;
  color: #FFF;
  border: 1px solid black !important;
  border-radius: 100%;
}

.pxl-linkUp-green td {
  background-color: #bbffbb;
}

.pxl-linkUp-yellow td {
  background-color: #ffffbb;
}

.pxl-linkUp-orange td {
  background-color: #ff9900;
}

.pxl-linkUp-red td {
  background-color: #ffbbbb;
}

.pxl-linkUp-grey td {
  background-color: #e5e5e5;
}

.pxl-td-shrink {
  width: 1em;
  white-space: nowrap;
}

.pxl-rickshaw-y {
  position: absolute;
  height: 100px;
}

.pxl-rickshaw {
  height: 100px;
  margin-bottom: 20px;
  margin-right: 5px;
}

.pxl-rickshaw .x_tick .title {
  bottom: -18px;
  left: -18px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  letter-spacing: -1px;
}

h1 {
  margin-bottom: 30px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #888;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #333;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}

